<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<html>
	<head>
		{% load staticfiles %}
		<title>Vadiraja K - My Website</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{% static 'mywebsite/js/skel.min.js' %}"></script>
		<script src="{% static 'mywebsite/js/skel-panels.min.js' %}"></script>
		<script src="{% static 'mywebsite/js/init.js' %}"></script>

		<link rel="stylesheet" href="{% static 'mywebsite/css/profile-links.css' %}"/>
		<link rel="stylesheet" href="{% static 'mywebsite/css/skel-noscript.css' %}"/>
		<link rel="stylesheet" href="{% static 'mywebsite/css/style.css' %}"/>
		<link rel="stylesheet" href="{% static 'mywebsite/css/style-desktop.css' %}"/>


	</head>
	<body class="homepage" style="overflow:hidden;">

	<!-- Header -->
		<div id="error-header" >
			<div id="menu">
				<div id="nav-wrapper">
					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li class="active" style="font-weight:bold;"><a href="/">V a d i r a j a &nbsp; K</a></li>
							<li><a href="/#aboutme">About me</a></li>
							<li><a href="/#interests">Interests</a></li>
							<li><a href="/blog/">Blog</a></li>
							<li><a href="https://drive.google.com/file/d/0B_v0hP2vfMqYc0M4ZF9nRVBWcjA/view" target="_blank">Resume</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="left-container">

				<!-- Logo -->
				<div id="logo">
					<a style="font-size: 5em;color:black;font-weight:bold;">You've wandered too far!</a>
					<a style="font-size: 2em;display:inline-block;color:black;font-weight:bold;">Let's&nbsp; take&nbsp; you&nbsp; </a>
					<a style="font-size: 2em;display:inline-block;color:black;font-weight:bold;" href="/">home!</a>

				</div>

				<div class='links'></div>
			</div>
		</div>


	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>

	</body>
</html>