<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<html>
	<head>
		{% load staticfiles %}
		<title>Vadiraja K - My Website</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Vadiraja K" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Personal website of Vadiraja K (vadi). A programming enthusiast currently pursuing B.Tech. in Computer Science and Engineering." />
		<meta name="keywords" content="vadiraja, kanaradi, vadiraja k, vadiraja kanaradi, website, portfolio, resume, personal website" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{% static 'mywebsite/js/skel.min.js' %}"></script>
		<script src="{% static 'mywebsite/js/skel-panels.min.js' %}"></script>
		<script src="{% static 'mywebsite/js/init.js' %}"></script>
		<link rel="icon" type="image/jpg" href="{% static 'mywebsite/images/photo.jpg' %}">
		<link rel="stylesheet" href="{% static 'mywebsite/css/profile-links.css' %}"/>
		<link rel="stylesheet" href="{% static 'mywebsite/css/skel-noscript.css' %}"/>
		<link rel="stylesheet" href="{% static 'mywebsite/css/style.css' %}"/>
		<link rel="stylesheet" href="{% static 'mywebsite/css/style-desktop.css' %}"/>
        <link rel="stylesheet" href="{% static 'mywebsite/css/blog-template.css' %}"/>

	</head>
	<body class="homepage">

	<!-- Header -->
		<div id="menu">
			<div id="nav-wrapper">
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="link" style="font-weight:bold;" id="nav_header"><a href="/#header" class="scroll">V a d i r a j a &nbsp K</a></li>
						<li class="link" id="nav_about_me"><a href="/#aboutme" class="scroll">About me</a></li>
						<li class="link" id="nav_blog"><a href="/#blog" class="scroll">Blog</a></li>
						<li class="link" id="nav_interests"><a href="/#interests" class="scroll">Interests</a></li>
						<li class="link" id="nav_contact"><a href="/#contact" class="scroll">Contact Me</a></li>
						<li><a href="https://drive.google.com/file/d/0B_v0hP2vfMqYc0M4ZF9nRVBWcjA/view?pref=2&pli=1" target="_blank">Resume</a></li>
					</ul>
				</nav>
			</div>
		</div>


        <div class='container'>

		  <header>
			<h1 style="color:#111;">Initial Commit !</h1>
			  {% load tz%}
			<p style="color:#111;" class='small meta'>by <span class="strong">Vadiraja K</span> /  {{post.time_added}}</p>
		  </header>

		  <p class="lede">In this post I will be talking about how I built and deployed this site in a couple of weeks. I decided to build a personal website for 2 reasons, it's cool :) and it helps in profile building.</p>
			<h3 style="text-align: justify;">UI Design:</h3>
		  <p style="text-align: justify;">The first task I did was getting the UI ready. There are many templates
		  	 available under the Creative Commons license to use, so I picked one of them. Now with this base wireframe I modified it to look like the site I had in mind.
			  This part was pretty simple as my UI was not very complex. Now just the content had to be filled.</p>

		  <h3 style="text-align: justify;">Framework:</h3>
		  <p style="text-align: justify;">Now I had to choose a framework that would power my site. For this I
		  chose Django, for 2 reasons - its popular and open source ... and I didn't know it. Django takes a bit of getting used to because of it's
		  structure, as it has a specified way of handling each component of the app like static files, template files and databases etc. But with the help
		  of a well written documentation I was able to integrate the designed UI with Django.</p>

		  <h3 style="text-align: justify;">Backend:</h3>
		  <p style="text-align: justify;">The backend for the site is very minimal, the work done till now:
			<li style="margin-top:-15px;">Integrating the 'contact me' section with the database.</li>
		   	<li>Handling blog requests and rendering right responses.</li>
			<li>Handling bad requests.</li>
		  </p>

			<h3 style="text-align: justify;">Deploying:</h3>
		  <p style="text-align: justify;">For deploying this site I chose IBM Bluemix (Cloud Foundry deployed as a PaaS), and the deployment process was very fast.
			  Some links that were useful during deploying:
			  <li style="margin-top:-15px;"><a style="color : #111;" href="https://www.ng.bluemix.net/docs/starters/install_cli.html" target="_blank">https://www.ng.bluemix.net/docs/starters/install_cli.html</a></li>
	     	  <li><a style="color : #111;" href="https://bluemixstirred.wordpress.com/2014/05/29/almost-djangoing-with-bluemix/comment-page-1/" target="_blank">https://bluemixstirred.wordpress.com/2014/05/29/almost-djangoing-with-bluemix/comment-page-1/</a></li>
  			  <li><a style="color : #111;" href="http://ikarandeep.tumblr.com/post/86967783996/python-django-ibms-bluemix" target="_blank">http://ikarandeep.tumblr.com/post/86967783996/python-django-ibms-bluemix</a></li>
			</p>
			<p style="text-align: justify;margin-top:-15px;">Bluemix has its own domain name (it adds a bluemix.net at the end) which i didn't want, so i purchased a custom
			domain name from GoDaddy and after configuring some DNS redirects I was done!
			</p>
		<p>Overall these 2 weeks were fun and made me acquainted with the basics of Django. And when it's this simple I guess everyone should try and make their own cool website!
			</p>

			<p>Cheers!
			</p>
		</div><!-- /.container -->
	<!-- Copyright -->
		<div id="err-copyright" style="background-color:#111;margin-top:6em;">
			<div class="container">
				That's all folks!
			</div>
		</div>

	</body>
</html>